h1 {
  font-size: 3.6rem !important;
}
h4 {
  font-size: 2.4rem !important;
}
p {
  font-size: 1.8rem !important;
}
a {
  text-decoration: none !important;
}
.content_begin {
  padding: 80px 0 0 0;
}
.logo {
  width: 100px;
  border-radius: 1rem;
  &:hover {
    cursor: pointer;
  }
}
.header {
  & a {
    font-size: 1.8rem;
    color: #ffc916;
    display: flex;
    align-items: center;
  }
}
.header.scrolled {
  background: #ffc916;
  transition: background 0.25s ease-in;
  & a {
    color: #000000;
  }
}

.navbar-nav {
  gap: 1.6rem;
}
.banner1 {
  background: url("./assets/Images/home/home_1.jpg") center center / cover
    no-repeat;
  /* width: 192rem; */
}
.banner2 {
  background: url("./assets/Images/home/home_2.jpg") center center / cover
    no-repeat;
  /* width: 192rem; */
}
.banner3 {
  background: url("./assets/Images/home/home_3.jpg") center center / cover
    no-repeat;
  /* width: 192rem; */
}
.banner_item {
  padding: 20rem 0;
  color: #ffc916;
}
.banner_btn {
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  background: transparent;
  border: 3px solid #ffc916;
  border-radius: 3rem;
  color: #ffc916;
  &:hover {
    color: #000000;
    background: #ffc916;
    transition: 0.25s ease-in;
  }
  & a {
    color: inherit !important;
  }
}
.footer {
  background-color: #ffc916;
  padding: 2rem 5rem !important;
}
.footer_menu:hover {
  cursor: pointer;
}
.icon {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
.home {
  display: flex;
  overflow-x: auto;
}
.home_image {
  aspect-ratio: 16/9;
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  .home_image {
    height: auto !important;
  }
  .header {
    background: #ffc916;
    & a {
      color: #000000;
    }
  }
}
.title {
  display: flex;
  justify-content: center;
  color: #ffc916;
  margin: 2rem 0;
  font-weight: bolder;
  font-size: 3em;
}
.profile_img {
  aspect-ratio: 4/5;
  border-radius: 1rem;
}
.font_theme1 {
  color: #999999;
}
.sub_title {
  color: #ffc916;
  font-size: 2rem;
}
.card_style {
  background-color: #ffc916 !important;
  margin: 1rem;
}

.carousel-control-next-icon {
  background-image: url("./assets/Images/chevron-yellow.svg") !important;
}
.carousel-control-prev-icon {
  background-image: url("./assets/Images/chevron-left-solid.svg") !important;
}
.react-multiple-carousel__arrow::before {
  color: #ffc916 !important;
}
.add_icon {
  margin: 2em !important;
  height: 4em;
  width: 4em !important;
}
.add_icon:hover {
  cursor: pointer;
}
.card_container {
  display: flex;
  justify-content: center;
}
/* bootstrap button class */
.btn {
  background-color: #000000 !important;
  color: #ffc916 !important;
  border: none !important;
}
/* bootstrap modal css */
.modal-content {
  background-color: #ffc916 !important;
}
.modal-header,
.modal-footer {
  border: none !important;
}

.icon_click {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}
.lottie_add {
  width: 100px !important;
}
