.content_begin {
  padding: 80px 0 0 0;
}
.logo {
  width: 100px;
  border-radius: 1rem;
}
.header {
  background-color: #ffc916;
}
.navbar-expand-md .offcanvas .offcanvas-body {
  justify-content: end;
}
.offcanvas {
  background-color: #ffc916 !important;
}
.footer {
  background-color: #ffc916;
  padding: 2rem 5rem !important;
}
.icon {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
.home {
  display: flex;
  overflow-x: auto;
}
.home_image {
  aspect-ratio: 16/9;
  margin: 80px 0 0 0;
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  .home_image {
    height: auto !important;
  }
}
.about {
  margin: 2rem 0 0 0;
}
.title {
  display: flex;
  justify-content: center;
  color: #ffc916;
  margin: 2rem 0;
}
.profile_img {
  aspect-ratio: 4/5;
  border-radius: 1rem;
}
.font_theme1 {
  color: #999999;
}
.sub_title {
  color: #ffc916;
  font-size: 2rem;
}
.card_style {
  background-color: #ffc916 !important;
  margin: 1rem;
}

.carousel-control-next-icon {
  background-image: url("./assets/Images/chevron-yellow.svg") !important;
}
.carousel-control-prev-icon {
  background-image: url("./assets/Images/chevron-left-solid.svg") !important;
}
.react-multiple-carousel__arrow::before {
  color: #ffc916 !important;
}
.add_icon {
  margin: 2em !important;
  height: 4em;
  width: 4em !important;
}
.add_icon:hover {
  cursor: pointer;
}
.card_container {
  display: flex;
  justify-content: center;
}
/* bootstrap button class */
.btn {
  background-color: #000000 !important;
  color: #ffc916 !important;
  border: none !important;
}
/* bootstrap modal css */
.modal-content {
  background-color: #ffc916 !important;
}
.modal-header,
.modal-footer {
  border: none !important;
}

.icon_click {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}
